/* Mini-Review */
@media all and (orientation: landscape) {
.list-table .list-table-data:hover .data.title .link:before {
bottom: 62%;
}
}
.list-table .list-table-data:hover .data.title .link:before {
	display: block !important;
	background-position: top left;
	background-size: contain;
	background-repeat: no-repeat;
  position: fixed;
  color: black;
	text-shadow: none !important;
  right: 0.5%;
	width: 15%;
  top: 10%;

  font-family: arial !important;
	font-size: 12px;
	border: white 2px solid;
	border-radius: 30px;
	padding: 1%;
	background-color: white;
	z-index:9997 !important;
	  
	overflow: hidden !important;

}

@media all and (orientation: landscape) {
.list-table .list-table-data:hover .data.title .link:after {
position: fixed !important;
	content: "";
		font-size: 12px !important;
	display: block !important;
		background-color: red;
		background-image:url(https://dl.dropboxusercontent.com/s/2fwp4x1xlkn6rwg/speechbubblearrow.png);
		/*background-image:url(https://i.imgur.com/7Zb5rMs.png);*/
	background-position: top left;
	background-repeat: no-repeat;
  position: fixed;
	text-shadow: none !important;
  right: -0.75%;
	height: 5%;
	width: 18%;
  bottom: 57.25%;
	font-size: 0;
	background-color: transparent;
	background-size: contain;
	z-index:9999 !important;
}
}

.data.title .link.sort {
	white-space: normal !important;
}

.more-info .td1 {
    background-color: rgba(0,0,0,0.5) !important;
    color: var(--text) !important;
}
/*======= */