/*-S-T-A-R-T--------------------*\
| Large Full-Res Transition R0.1 |
\*------------------------------*/
.list-table .list-table-data:hover .data.image a:before {
  transform: rotate(-720deg) scale(1, 1);
  -webkit-transform: rotate(-720deg) scale(1, 1);
}
/*------------------------E-N-D-*/

.data.image a:before {
  transform: rotate(0deg) scale(0, 0);
  -webkit-transform: rotate(0deg) scale(0, 0);
  transition: opacity 2.5s linear, left 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: opacity 2.5s linear, left 1s ease-in-out, transform 1s ease-in-out;
  transition: opacity 2.5s linear, left 1s ease-in-out, transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transition: opacity 2.5s linear, left 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
/*------------------------E-N-D-*/