/*-S-T-A-R-T--------------------*\
| Synopsis R0.1                  |
\*------------------------------*/
.list-table .list-table-header .header-title.tags {
  font-size: 0px !important;;
}

@media all and (orientation: landscape) {
.list-table .list-table-data .data.tags {
  position: fixed;
  left: 50%;
  top: 40%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  display: inline !important;
  line-height: 14px !important;
  font-size: 14px;
  font-family: 'Julee';
  text-align: left;
  width: 17.5% !important;
  height: auto !important;
  background-color: rgba(0,0,0,.7);
  box-shadow: 0 0 2px #000, 0 0 1px #000, 1px 1px 4px #000, 0 0 0 #000;
  pointer-events: none;
  z-index: 6;
}
}

@media all and (orientation: portrait) {
.list-table .list-table-data .data.tags {
  position: fixed;
  left: 2% !important;
  top: calc(24%) !important;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  display: inline !important;
  line-height: 14px !important;
  font-size: 14px;
  font-family: 'Julee';
  text-align: left;
  width: 20.5% !important;
  height: auto !important;
  background-color: rgba(0,0,0,.7);
  box-shadow: 0 0 2px #000, 0 0 1px #000, 1px 1px 4px #000, 0 0 0 #000;
  pointer-events: none;
  z-index: 6;
}
}

.list-table .list-table-data .data.tags span:after {
  position: fixed;
  left: 50%;
  top: calc(6% + 300px);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  display: block !important;
  content: '';
  height: auto;
  	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
}

.list-table .list-table-data:hover .data.tags, .list-table .list-table-data:hover .data.tags span:after {
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  left: 1%;
  -webkit-transition: opacity 1.5s linear, left 1s ease-out;
  transition: opacity 1.5s linear, left 1s ease-out;
}

.list-table .list-table-data .data.tags * {
  color: #fff !important;
}

.list-table .list-table-data:hover .data.tags {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/*------------------------E-N-D-*/