/*-S-T-A-R-T--------------------*\
| Mini-Review R0.1               |
\*------------------------------*/

.list-table .list-table-data:hover .data.title .link:before {
	display: block !important;
	background-position: top left;
	background-size: contain;
	background-repeat: no-repeat;
  position: fixed;
  color: var(--text);
	text-shadow: none !important;
  left: 19% !important;
	width: 25%;
  bottom: 30px;

  font-family: arial !important;
	font-size: 12px;
	border: var(--header-table-bg) 2px solid;
	border-radius: 30px;
	padding: 1%;
	background-color: var(--bg);
	z-index:10001 !important;
	  
	overflow: hidden !important;

}
/*------------------------E-N-D-*/