/* Changing these images essentially changes the theme */
body {
	/* Cover Banner */
	--banner: url(https://dl.dropboxusercontent.com/s/un769bq9qp06pii/da460go-662481a8-79eb-4732-8a39-89426f2dbd6a.png) !important;
	/* Character Image */
	--character: none;
	/* Background */
	--background: url(https://dl.dropboxusercontent.com/s/4he71z62oen33ot/rezero01.png) !important;
	/* name */
	--name: "Re:Zero" !important;

	background: var(--background);
	background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover !important; 
}

/* Colors */
:root {
--all-color: #ff6b6b;
--all-accent: #ed2939;
--current-color: #cef7d9;
--current-accent: #5fc786;
--completed-color: #d2eef7;
--completed-accent: #2cb0e9;
--onhold-color: #fffdb7;
--onhold-accent: #f7e042;
--dropped-color: #ffe4c4;
--dropped-accent: #ff0000;
--planned-color: #b9c1c3;
--planned-accent: #c3c3c3;
}

/* Banner */
.cover-block {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 25;
	
	width: 100%;
	min-width: 1060px;
	height: 318px;
	background: var(--cover-bg) var(--banner) no-repeat center center / cover scroll;
}

/*-S-T-A-R-T--------------------*\
| Change Banner Height           |
\*------------------------------*/
/*Change number here*/
:root { --banner-height: 500px; }

.cover-block { height: var(--banner-height); }
.header { margin-top: calc(var(--banner-height) - 36px); }
.list-stats { top: calc(var(--banner-height) + 98px); }
/*------------------------E-N-D-*/

/* Currently Reading */
[data-query*='"status":1'] .cover-block {
background-image: url(https://dl.dropboxusercontent.com/s/ewf1v5dxvt2dtlv/re-zero-starting-life-in-another-world-wallpaper-3840x1440_92.jpg?dl=0) !important;
}
/* Completed */
[data-query*='"status":2'] .cover-block{
background-image: url(https://dl.dropboxusercontent.com/s/qjx5o3yxsqzc1z2/JbzPm9a.jpeg) !important;
}
/* On-Hold */
[data-query*='"status":3'] .cover-block {
background-image: url(https://dl.dropboxusercontent.com/s/nggl86la9ef36p5/782004.jpg) !important;
}
/* Dropped */
[data-query*='"status":4'] .cover-block {
background-image: url(https://dl.dropboxusercontent.com/s/29etnfvno1bybyr/da4l6ft-74390ab8-2646-423d-b2ea-5d9a4c69180c.jpg) !important;
}
/* Plam To Read */
[data-query*='"status":6'] .cover-block {
background-image: url(https://dl.dropboxusercontent.com/s/t0k1mk95dqmg5i8/dabakwf-441ca0b1-b49c-4851-b3ea-46ae68de4592.png) !important;
}
/* All */
[data-query*='"status":7'] .cover-block {
background-image: url(https://dl.dropboxusercontent.com/s/un769bq9qp06pii/da460go-662481a8-79eb-4732-8a39-89426f2dbd6a.png) !important;
}

/* Cursor */
body {
/* Rem cursor: default; */
	cursor: url(https://dl.dropboxusercontent.com/s/6vplalye20st6cd/rem%20cursor.png), auto !important;
}
a:hover {
/* Ram cursor: pointer; */
	cursor: url(https://dl.dropboxusercontent.com/s/mjf7g04itzysyrb/ram%20cursor.png), auto !important;
}
a.img:hover {
/* Ram cursor: pointer; */
	cursor: url(https://dl.dropboxusercontent.com/s/mjf7g04itzysyrb/ram%20cursor.png), auto !important;
}

/* CHARACTER 1 */
body:after {
background-image: url(https://dl.dropboxusercontent.com/s/czb5dub2inetn10/Re%20Zero%20Kara%20Hajimeru%20Isekai%20Seikatsu%20-%20Rem%20Render%203.png) !important;
background-color: transparent !important;
background-position: center top;
background-repeat: no-repeat;
background-size: contain;
content: "";
height: 65%;
width: 54%;
left: -15.5%;
position: fixed;
bottom: -5%;
z-index: -2 !important;
}

/* CHARACTER 2 */
.list-unit .list-status-title .text, .list-unit .list-status-title:after {
    background-image: url(https://dl.dropboxusercontent.com/s/5lviw281e66qq8m/Re%20Zero%20Kara%20Hajimeru%20Isekai%20Seikatsu%20-%20Ram%20Render%201.png) !important;
    background-position: right bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    width: 23% !important; 
    height: 100% !important;
    right: -3%;
    bottom: 0%;
    content: "";
}