/*https://shaggyze.website/Themes/Images/coming-soon.jpg*/
@media (min-width: 1360px) and (max-width: 1360px) {
.list-table .more-info {
font-size: 11px !important;
}
}
@media all and (orientation: portrait) {
.link[href^="/anime/"] ~ .add-edit-more .more a {
right: calc(100% - 345px) !important;
}
}
/* The Strongest Sage with the Weakest Crest MUSIC PLAYER*/
[data-query*='"season":"winter","season_year":2022'] .link[href^="/anime/47161/"] ~ .add-edit-more .more a {
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/coming-soon.jpg) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 380px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-47161.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* 86 MUSIC PLAYER*/
[data-query*='"status":'] .link[href^="/anime/48569/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://dl.dropboxusercontent.com/s/tzgryb83ceyezid/86.gif) !important;
content: "";
z-index: 2 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 560px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-48569.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* SAO MUSIC PLAYER*/
[data-query*='"genre":"62'] .link[href^="/anime/11757/"] ~ .add-edit-more .more a, [data-query*='"tag":"Isekai"'] .link[href^="/anime/11757/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/SAO.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 560px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-11757.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* SAO MUSIC PLAYER*/
[data-query*='"season":"fall","season_year":2021'] .link[href^="/anime/42916/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/SAO.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 380px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-42916.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
[data-query*='"tag":"Action","genre":2,"demographic":27'] .link[href^="/anime/1157/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/final_fantasy1.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 200px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-1157.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* Final Fantasy MUSIC PLAYER */
[data-query*='"order":5'] .link[href^="/anime/408/"] ~ .add-edit-more .more a, [data-query*='"tag":"Final Fantasy"'] .link[href^="/anime/408/"] ~ .add-edit-more .more a, [data-query*='"tag":"VII"'] .link[href^="/anime/408/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/final_fantasy3.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 380px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-408.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* Final Fantasy MUSIC PLAYER*/
[data-query*='"tag":"Final Fantasy"'] .link[href^="/anime/2952/"] ~ .add-edit-more .more a, [data-query*='"tag":"VII"'] .link[href^="/anime/2952/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/final_fantasy2.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 200px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-2952.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* Final Fantasy MUSIC PLAYER*/
[data-query*='tag":"Final Fantasy"'] .link[href^="/anime/317/"] ~ .add-edit-more .more a, [data-query*='"tag":"VII"'] .link[href^="/anime/317/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/final_fantasy1.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 560px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-317.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* Re:Zero MUSIC PLAYER*/
[data-query*='"airing_status":2'] .link[href^="/anime/31240/"] ~ .add-edit-more .more a, [data-query*='"tag":"2016"'] .link[href^="/anime/31240/"] ~ .add-edit-more .more a, [data-query*='"season":"spring","season_year":2016'] .link[href^="/anime/31240/"] ~ .add-edit-more .more a , [data-query*='"season":"winter","season_year":2016'] .link[href^="/anime/31240/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/rezero.gif) !important;
content: "";
z-index: 1 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 200px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
/* Re:Zero MUSIC PLAYER*/
[data-query*='"tag":"Re:Zero"'] .link[href^="/anime/31240/"] ~ .add-edit-more .more a, [data-query*='"genre":"62'] .link[href^="/anime/31240/"] ~ .add-edit-more .more a, [data-query*='"tag":"Isekai"'] .link[href^="/anime/31240/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/rezero2.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 380px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-31240.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* Re:Zero MUSIC PLAYER*/
[data-query*='"status":7'] .link[href^="/anime/42203/"] ~ .add-edit-more .more a, [data-query*='"season":"winter","season_year":2021'] .link[href^="/anime/42203/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/rezero.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 200px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-42203.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* Weathering with you MUSIC PLAYER*/
[data-query*='"tag":"Fantasy"'] .link[href^="/anime/38826/"] ~ .add-edit-more .more a, [data-query*='"tag":"Romance"'] .link[href^="/anime/38826/"] ~ .add-edit-more .more a, [data-query*='"tag":"CoMix Wave Films"'] .link[href^="/anime/38826/"] ~ .add-edit-more .more a, [data-query*='"tag":"CMT"'] .link[href^="/anime/38826/"] ~ .add-edit-more .more a, [data-query*='"tag":"Score: 9"'] .link[href^="/anime/38826/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/weathering_with_you.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 380px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-38826.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/*Origins MUSIC PLAYER*/
[data-query*='"tag":"RCD"'] .link[href^="/anime/1140/"] ~ .add-edit-more .more a {
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/2021-07-19_19-13-14.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 380px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
[data-query*='"tag":"CMT"'] .link[href^="/anime/1140/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/2021-07-19_19-13-14.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 740px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-1140.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* Sakugan MUSIC PLAYER*/
[data-query*='"season":"fall","season_year":2021'] .link[href^="/anime/38192/"] ~ .add-edit-more .more a {
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/2021-07-19_14-39-43.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 200px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-38192.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* From Common Job Class to the Strongest in the World 2nd Season MUSIC PLAYER*/
[data-query*='"airing_status":3'] .link[href^="/anime/40507/"] ~ .add-edit-more .more a, [data-query*='"season":"winter","season_year":2022'] .link[href^="/anime/40507/"] ~ .add-edit-more .more a  {
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/2021-07-19_14-28-15.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 200px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-40507.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* Castle in the Sky MUSIC PLAYER*/
[data-query*='"tag":"Studio Ghibli"'] .link[href^="/anime/513/"] ~ .add-edit-more .more a, [data-query*='"tag":"Romance"'] .link[href^="/anime/513/"] ~ .add-edit-more .more a {
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/castle_in_the_sky.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 200px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-513.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* Princess Mononoke MUSIC PLAYER*/
[data-query*='"tag":"Studio Ghibli"'] .link[href^="/anime/164/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/princess_mononoke.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 380px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-164.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/*Nausicaä of the Valley of the Wind MUSIC PLAYER*/
[data-query*='"tag":"Studio Ghibli"'] .link[href^="/anime/572/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/valley_of_the_wind.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 560px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-572.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* Howl's Moving Castle MUSIC PLAYER*/
[data-query*='"tag":"Studio Ghibli"'] .link[href^="/anime/431/"] ~ .add-edit-more .more a, [data-query*='"tag":"Romance"'] .link[href^="/anime/431/"] ~ .add-edit-more .more a {
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://dl.dropboxusercontent.com/s/m1r5yqoael794cq/howls.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 740px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-431.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* Your Name. MUSIC PLAYER*/
[data-query*='"tag":"RCD"'] .link[href^="/anime/32281/"] ~ .add-edit-more .more a {
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/yourname.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 200px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
[data-query*='"tag":"Romance"'] .link[href^="/anime/32281/"] ~ .add-edit-more .more a, [data-query*='"tag":"CoMix Wave Films"'] .link[href^="/anime/32281/"] ~ .add-edit-more .more a, [data-query*='"airing_status":2'] .link[href^="/anime/32281/"] ~ .add-edit-more .more a, [data-query*='"tag":"Score: 9"'] .link[href^="/anime/32281/"] ~ .add-edit-more .more a, [data-query*='"tag":"CMT"'] .link[href^="/anime/32281/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/yourname.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 560px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-32281.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* Peach Boy Riverside MUSIC PLAYER*/
[data-query*='"airing_status":1'] .link[href^="/anime/42627/"] ~ .add-edit-more .more a, [data-query*='"season":"summer","season_year":2021'] .link[href^="/anime/42627/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/peach_boy-riverside.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 200px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-42627.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* How a Realistic Hero Rebuilt a Kingdom MUSIC PLAYER*/
[data-query*='"airing_status":1'] .link[href^="/anime/41710/"] ~ .add-edit-more .more a, [data-query*='"season":"summer","season_year":2021'] .link[href^="/anime/41710/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/kingdom.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 380px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-41710.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* 3-gatsu no Lion 2nd Season MUSIC PLAYER*/
[data-query*='"status":1'] .link[href^="/anime/35180/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://puu.sh/HVDSf.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 380px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-35180.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* 3-gatsu no Lion 2nd Season MUSIC PLAYER*/
[data-query*='"tag":"Music"'] .link[href^="/anime/28789/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://puu.sh/HVDSf.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 740px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-28789.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/*Vivy MUSIC PLAYER*/
[data-query*='"status":1'] .link[href^="/anime/46095/"] ~ .add-edit-more .more a, [data-query*='"season":"spring","season_year":2021'] .link[href^="/anime/46095/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/vivy.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 200px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-46095.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
[data-query*='"status":7,"tag":2021'] .link[href^="/anime/46095/"] ~ .add-edit-more .more a {
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/vivy.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 380px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-46095.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/*Two Mix MUSIC PLAYER*/
[data-query*='"tag":"Music"'] .link[href^="/anime/2728/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://dl.dropboxusercontent.com/s/pkyvcze23lqb0b8/two-mix_white_reflection.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 200px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-2728.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/*Shelter MUSIC PLAYER*/
[data-query*='"airing_status":2'] .link[href^="/anime/34240/"] ~ .add-edit-more .more a, [data-query*='"tag":"Music"'] .link[href^="/anime/34240/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/shelter.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 380px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-34240.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/*Carole & Tuesday MUSIC PLAYER*/
[data-query*='"order":5'] .link[href^="/anime/37435/"] ~ .add-edit-more .more a, [data-query*='"tag":"Music"'] .link[href^="/anime/37435/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/carole_and_tuesday.gif) !important;
content: "";
z-index: 0 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
right: calc(100% - 245px);
top: 560px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-37435.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
left: calc(100% - 475px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}

/* manga */


/* From Common Job Class to the Strongest in the World 2nd Season MUSIC PLAYER*/
[data-query*='"status":'] .link[href^="/manga/88923/"] ~ .add-edit-more .more a {
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/2021-07-19_14-28-15.gif) !important;
content: "";
z-index: 2 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
left: calc(100% - 245px);
top: 560px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
[data-query*='"tag":"Isekai"'] .link[href^="/manga/88923/"] ~ .add-edit-more .more a {
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/2021-07-19_14-28-15.gif) !important;
content: "";
z-index: 2 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
left: calc(100% - 245px);
top: 560px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-88923.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
right: calc(100% - 400px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/* Final Fantasy MUSIC PLAYER*/
[data-query*='"status":'] .link[href^="/manga/79633/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/final_fantasy1.gif) !important;
content: "";
z-index: 2 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
left: calc(100% - 245px);
top: 740px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-79633.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
right: calc(100% - 400px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}

/* Re:Zero MUSIC PLAYER */
[data-query*='"status":'] .link[href^="/manga/74697/"] ~ .add-edit-more .more a, [data-query*='"tag":"Fav"'] .link[href^="/manga/74697/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/rezero.gif) !important;
content: "";
z-index: 1 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
left: calc(100% - 245px);
top: 920px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
[data-query*='"tag":"Isekai"'] .link[href^="/manga/74697/"] ~ .add-edit-more .more a, [data-query*='"tag":"Fav"'] .link[href^="/manga/74697/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/rezero.gif) !important;
content: "";
z-index: 1 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
left: calc(100% - 245px);
top: 740px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
[data-query*='"tag":"Fav"'] .link[href^="/manga/74697/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/rezero.gif) !important;
content: "";
z-index: 1 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
left: calc(100% - 245px);
top: 740px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-31240.more-info, .list-table #more-74697.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
right: calc(100% - 400px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}

/* Dr. Stone MUSIC PLAYER */
[data-query*='"tag":"Isekai"'] .link[href^="/manga/103897/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://dl.dropboxusercontent.com/s/zvtar3s64fc9wcp/drstone.gif) !important;
content: "";
z-index: 2 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
left: calc(100% - 245px);
top: 560px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
.list-table #more-103897.more-info {
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
height: 300px !important;
width: 400px !important;
top: 50px !important;
right: calc(100% - 400px) !important;
opacity: 1 !important;
position: fixed;
font-size: 15px;
z-index: 10000;
content: "";
}
/*
[data-query*='"status":'] .link[href^="/manga/103897/"] ~ .add-edit-more .more a {  
display: block !important;
border-radius: 50%;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://shaggyze.website/Themes/Images/drstone.gif) !important;
content: "";
z-index: 2 !important;
position: fixed !important;
color: transparent !important;
height: 180px !important;
width: 215px !important;
left: calc(100% - 245px);
top: 200px !important;
opacity: 1 !important;
pointer-events: visible !important;
}
*/